#welcome-page {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c3/Walter_Pyramid.jpg");
    
    background-size: 1440px 800px;
     background-repeat:no-repeat;
}

#contact {
    background-color:lightcoral;
    height:1000px;
}
